/* ==========================================================================
   ELEMENTS / #FORMS
   ========================================================================== */

/**
 * Semantically, we’d like all forms to be built with `<fieldset>`s and
 * `<legend>`s, but we don’t want to visually see them.
 * Note that sky-toolkit@3.0 will use c-form-caption to limit scope on legend
 */
 fieldset {
  border: none;
}

legend {
  @include hide-visually();
}

/**
 * Make sure our form elements don’t use any UA-specific font styles: we want
 * them to use ours. This may need reverting as more design information becomes
 * available, and we start putting together more complete forms.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}


input {
  &[type=text],
  &[type=textarea],
  &[type=password] {
    border: none;
  }

  &[disabled] {
    background: color('disabled-01');
  }
}

textarea {
  border: none;
}
