// =============================================================================
// SETTINGS / #COLORS
// =============================================================================

// @import "generated/colors/base",
// @import "generated/colors/core",
// @import "generated/colors/interactive",

$colors: (
  black: rgb(0, 0, 0),
  white: rgb(255, 255, 255),
  brand-30: rgb(242, 170, 161),
  brand-40: rgb(237, 111, 10),
  brand-50: rgb(228, 33, 39),
  brand-60: rgb(146, 43, 38),
  brand-70: rgb(87, 34, 30),
  blue-40: rgb(55, 142, 240),
  blue-50: rgb(38, 128, 235),
  blue-60: rgb(20, 115, 230),
  blue-70: rgb(13, 102, 208),
  gray-10: rgb(255, 255, 255),
  gray-20: rgb(244, 244, 244),
  gray-30: rgb(234, 234, 234),
  gray-40: rgb(211, 211, 211),
  gray-50: rgb(188, 188, 188),
  gray-60: rgb(149, 149, 149),
  gray-70: rgb(116, 116, 116),
  gray-80: rgb(80, 80, 80),
  gray-90: rgb(50, 50, 50),
  green-40: rgb(51, 171, 132),
  green-50: rgb(45, 157, 120),
  green-60: rgb(38, 142, 108),
  green-70: rgb(18, 128, 92),
  indigo-40: rgb(117, 117, 241),
  indigo-50: rgb(103, 103, 236),
  indigo-60: rgb(92, 92, 224),
  indigo-70: rgb(81, 81, 211),
  magenta-40: rgb(226, 73, 157),
  magenta-50: rgb(216, 55, 144),
  magenta-60: rgb(202, 41, 130),
  magenta-70: rgb(188, 28, 116),
  purple-40: rgb(157, 100, 225),
  purple-50: rgb(146, 86, 217),
  purple-60: rgb(134, 76, 204),
  purple-70: rgb(122, 66, 191),
  red-40: rgb(236, 91, 98),
  red-50: rgb(227, 72, 80),
  red-60: rgb(215, 55, 63),
  red-70: rgb(201, 37, 45),
  yellow-40: rgb(237, 204, 0),
  yellow-50: rgb(223, 191, 0),
  yellow-60: rgb(210, 178, 0),
  yellow-70: rgb(196, 166, 0),
  orange-40: rgb(242, 148, 35),
  orange-50: rgb(230, 134, 25),
  orange-60: rgb(218, 123, 17),
  orange-70: rgb(203, 111, 16),
  ui-background: rgb(255, 255, 255),
  ui-01: rgb(255, 255, 255),
  ui-02: rgb(255, 255, 255),
  ui-03: rgb(244, 244, 244),
  ui-04: rgb(188, 188, 188),
  ui-05: rgb(22, 22, 22),
  text-01: rgb(22, 22, 22),
  text-02: rgb(116, 116, 116),
  text-03: rgb(211, 211, 211),
  text-04: rgb(255, 255, 255),
  text-05: rgb(149, 149, 149),
  text-error: rgb(215, 55, 63),
  icon-01: rgb(22, 22, 22),
  icon-02: rgb(116, 116, 116),
  icon-03: rgb(255, 255, 255),
  link-01: rgb(20, 115, 230),
  inverse-link: rgb(55, 142, 240),
  field-01: rgb(255, 255, 255),
  field-02: rgb(255, 255, 255),
  inverse-01: rgb(255, 255, 255),
  inverse-02: rgb(80, 80, 80),
  support-01: rgb(227, 72, 80),
  support-02: rgb(45, 157, 120),
  support-03: rgb(230, 134, 25),
  support-04: rgb(13, 102, 208),
  inverse-support-01: rgb(236, 91, 98),
  inverse-support-02: rgb(51, 171, 132),
  inverse-support-03: rgb(242, 148, 35),
  inverse-support-04: rgb(38, 128, 235),
  overlay-01: rgba(0, 0, 0, 0.5),
  danger: rgb(227, 72, 80),
  focus: rgb(20, 115, 230),
  inverse-focus-ui: rgb(255, 255, 255),
  hover-primary: rgb(3, 83, 233),
  active-primary: rgb(9, 90, 186),
  hover-primary-text: rgb(13, 102, 208),
  hove-secondary: rgb(76, 76, 76),
  active-secondary: rgb(149, 149, 149),
  hover-tertiary: rgb(3, 83, 233),
  active-tertiary: rgb(9, 90, 186),
  hover-ui: rgb(229, 229, 229),
  active-ui: rgb(234, 234, 234),
  selected-ui: rgb(244, 244, 244),
  selected-light-ui: rgb(244, 244, 244),
  inverse-hover-ui: rgb(76, 76, 76),
  hover-selected-ui: rgb(202, 202, 202),
  hover-danger: rgb(215, 55, 63),
  active-danger: rgb(201, 37, 45),
  hover-row: rgb(229, 229, 229),
  visited-link: rgb(138, 63, 252),
  disabled-01: rgb(255, 255, 255),
  disabled-02: rgb(234, 234, 234),
  disabled-03: rgb(188, 188, 188),
  highlight: rgb(90, 169, 250),
  decorative-01: rgb(244, 244, 244),
  skeleton-01: rgb(229, 229, 229),
  skeleton-02: rgb(234, 234, 234),
) !default;
